.product li {
  width: 25%;
  padding-right: 12px;
  margin-bottom: 12px;
}
.product li .product-inner {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  padding-bottom: 10px;
}
.product li .product-img {
  width: 100%;
}
.product li .product-img img {
  width: 100%;
}
.product li .product-name {
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 3px;
}
.product li .product-name:hover {
  color: #ff9a26;
}
.product li .price {
  margin-right: 10px;
  color: #ff9a26;
}
.product li .original {
  color: #999;
  font-size: 14px;
  overflow: hidden;
  text-decoration: line-through;
}
@media (max-width: 640px) {
  .product li {
    width: 50%;
  }
}
